<h2>Хотите приготовить ужин из того что у вас уже есть?</h2>
<p>Введите названия ингредиентов которые у вас имеются и найдите самый подходящий для Вас рецепт</p>

<h2>Особенности</h2>
<ul>
  <li>Уровень сложности приготовления</li>
  <li>Минимум дополнительных ингредиентов</li>
  <li>Узнайте больше <a href="instagram.com/karlybirdkarly">тут</a></li>
</ul>

{% if site.app.inclide_subscription_form %}
{% include subscription.html %}
{% endif %}

<hr/>

<a href="instagram.com/karlybirdkarly">Карлыгаш Жугинисова</a>
