<h2>На самом деле ваши продукты могут быть очень вкусным ужином!</h2>
<p>Сохраните один раз все ваши продукты на кухне и находите идеи для блюд за один клик</p>

<h2>Особенности</h2>
<ul>
  <li>Возможность обновления списка продуктов</li>
  <li>Минимум дополнительных ингредиентов</li>
  <li>Список покупок и любимые рецепты</li>
  <li>Узнайте больше <a href="http://vk.com/public97223572">тут</a></li>
</ul>

{% if site.app.inclide_subscription_form %}
{% include subscription.html %}
{% endif %}

<hr/>

<a href="http://instagram.com/karlybirdkarly">Карлыгаш Жугинисова</a>
