<h2>Оставьте свой email и узнайте первым о запуске приложения</h2>

<div id="mc_embed_signup">
  <form action="//intellection.us11.list-manage.com/subscribe/post?u=6cbbbef8ec54772e51d837090&amp;id=32b05a5ecf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="ваш email" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_6cbbbef8ec54772e51d837090_32b05a5ecf" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
</div>
