<h2>Это удобно!</h2>
<p>Напишите названия ингредиентов которые у вас имеются и найдите подходящий Вам рецепт за секунды</p>

<h2>А также в приложении</h2>
<ul>
  <li>Минимум дополнительных ингредиентов</li>
  <li>Уровень сложности приготовления</li>
  <li>Узнайте больше  <a href="https://instagram.com/karlybirdkarly/">тут</a></li>
</ul>

{% if site.app.inclide_subscription_form %}
{% include subscription.html %}
{% endif %}

<hr/>

<li>Искренне ваша, <a href="https://instagram.com/karlybirdkarly/">Карлыгаш Жугинисова</a>
